<!DOCTYPE html>
<html>
  <head>
    <title>SIFT - Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>Image Feature Extraction - SIFT Algorithm</h1>
    </header>

    <div class="button-container">
      <button id="startButton">Start</button>
      <button id="closeButton">Close</button>
    </div>

    <div class="button-container">
      <input type="file" id="imageUpload" class="custom-input" accept=".jpeg, .jpg, .png">
    </div>

    <div class="image-container">
      <img class="image-box" id="matchingImage" src="" width="500" height="500">
      <img class="image-box" id="cameraFeed" src="" width="500" height="500">
    </div>

    <script>
              var startButton = document.getElementById('startButton');
      startButton.addEventListener('click', function() {
        fetch('/start_stream')
          .then(response => response.text())
          .then(data => {
            console.log(data);
            document.getElementById('cameraFeed').src = "{{ url_for('video_feed_detect') }}";
            document.getElementById('matchingImage').src = "{{ url_for('video_feed') }}";
            // matchingImage.style.display = 'inline-block';
            // cameraFeed.style.display = 'inline-block';
          });

          

      });
      

      var closeButton = document.getElementById('closeButton');
      var matchingImage = document.getElementById('matchingImage');
      var cameraFeed = document.getElementById('cameraFeed');

      closeButton.addEventListener('click', function() {
        matchingImage.src = '';
        cameraFeed.src = '';

        fetch("/close")  
                .then(response => response.text())
                .then(message => {
                    console.log(message);  
                });

        
      });

      var imageUpload = document.getElementById('imageUpload');
      imageUpload.addEventListener('change', function() {
        var selectedImage = imageUpload.files[0]; 

        if (selectedImage) {
          var formData = new FormData();
          formData.append('image', selectedImage);

          fetch('/upload_image', {
            method: 'POST',
            body: formData
          })
          .then(response => response.text())
          .then(data => {
            console.log('Success', data);

          });
        }
      });

    </script>
  </body>
</html>
